
body{background:#042b3b!important;}
#sub{
	width:367px;
	height: 26px;
	margin-bottom: 15px;	
	background-color: #428CE1;
	border:1.5px solid black;
}
.mainCover{width: 1024px;
    height: 710px;
    margin: 0 auto;
    position: relative;}
.memLoginPage,.adminPage{
	background: url("../images/loginBg.jpg") no-repeat;
	background-size: 100% 100%;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	border-radius:22px;
}
.floatR{float:right;}
.bg{
	background: url("../images/bg.jpg") no-repeat;
	background-size: 100% 100%;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	border-radius:22px;
	border:2px solid #00c4ff;
	
}
.bg h5{    text-align: center;
    height: 50px;
    background: #00c4ff;
    display: table-cell;
    width: 1024px;
vertical-align: middle;
border-radius:20px 20px 0 0;
font-size: 16px;
    padding: 0 200px 0 80px;
    text-align: left;} 
.bg table td{vertical-align: top;}
.bg table{width:90%;}

.loginBox{
	background-color: #F9F9F9;
    padding: 20px;
    position: absolute;
    top: 375px;
    right: 85px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
        border: 1px solid #ccc;
    box-shadow: 0px 0px 8px 0px #ccc;
}
.cls{clear:both;}
.radioBtn input{width: 20px;    height: 20px;    margin: 3px 6px 0 0;    float: left;}
.radioBtn label{margin: 0 20px 0 0;    float: left;}
.videoCover{width: 640px;
    margin: 50px auto 0 auto;
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ccc;}
	.wd300{width:300px!important}
	.wd200{width:200px!important}
	.wd180{width:180px!important}
.tabs50 .tabBtn{width:50%; float:left;padding:0 10px 0 10px;}
.padL0{padding-left:0px!important;}
.padR0{padding-right:0px!important;}
.mrgT20{margin-top:20px;}
.tabs{height:50px;}
.pad20{padding:20px;}
.mrgT10{margin-top:10px;}
.err{color:red;font-size:12px;}
.vAlignT{vertical-align:top;}
.errOutline{border:1px solid red!important;}
.hostTable{background: #f6f6f6;
    padding: 15px;
    width: 440px;
    border-radius: 8px;
    border: 1px solid #cccc;
}
.hostTable table td{padding:5px;}
.btnDownload {
  background: #dbdbdb;
    border: none;
    color: black;
    padding: 5px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
}

/* Darker background on mouse-over */
.btnDownload:hover {
  background-color: #007bff;
}
.downloadIcon{
	background: url(../images/download.png) no-repeat;
    width: 14px;
    height: 16px;
    float: left;
    background-size: 100% 100%;
    margin: 4px 4px 0 0;
}
.jumpText{position: absolute;
    font-weight: bold;
    color: #4899dd;
    top: 124px;
    right: 55px;}
	
	.sidepanel  {
    position: absolute;
    z-index: 1;
    height: 277px;
    top: 52px;
    left: -2px;
    background-color: #005474;
    overflow-x: hidden;
    transition: 0.5s;
    width: 0;
}

.sidepanel a {
  padding: 14px 8px 14px 20px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-size: 18px;
    border-bottom: 1px solid #fff;
	width:270px;
}

.sidepanel a:hover {
  color: #fff;
  text-decoration:none;
  background:#007bff;
}

.sidepanel .closebtn {
  position: absolute;
    top: -20px;
    right: 0px;
    font-size: 40px;
    padding: 0;
    border: 0;
}
.adminMenu, .memMenu{display:none;}
.openbtn, .openbtn2 {
	outline: none;
    border-radius: 22px 0 0 0;
    background: #005474;
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 12px 16px 10px 16px;
    border: none;
    position: absolute;
    top: 0px;
    left: -1px;
    z-index: 99;
	
}

.openbtn:hover {
  background-color:#007bff;
  outline: none;
}
.Slidewidth{width:270px;}
.searchBtn{
	    background: #005474 url(../images/searchIcon.png) no-repeat 6px 6px;
    width: 33px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 4px 4px 0;
    background-size: 18px;
}
.searchControl{height: 30px!important;
    border: 1px solid #005474!important;}
.searchCover{width:100%; position:relative;}
.searchContainer{
position: absolute;
    top: 10px;
    right: 10px;
	z-index:99;
}
.userSetupCover
{
	    position: absolute;
    left: 50px;
    top: 120px;
    width: 420px;
    background: #fff;
    padding: 22px;
    border-radius: 20px;
    box-shadow: 0px 0px 13px #ccc;
}
.userSetupCover h1{font-size: 20px;}
.userSetupCover a{
	    box-sizing: border-box;
    color: #000;
    float: left;
    width: 100%;
    background: #d5d5d5;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    margin: 0px 0 14px 0;
}
.userSetupCover a:hover{background:#00c4ff}
.displayJson{
	    width: 800px;
    height: 400px;
    display: none;
    background: #fff;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -200px;
    border-radius: 20px;
    border: 2px solid #cccc;
	padding:20px;
}
.displayJson h3{text-align:center;}
.displayJson h5{margin-top:20px;font-size:20p;}
.displayJson a{
position: absolute;
    right: 30px;
    top: 0;
    background: #e3e3e3;
    padding: 4px 8px;
    border-radius: 8px;
    color: #000;
    border: 1px solid #ccc;
}
.displayJson .jsoncover{height: 360px;
    overflow-y: scroll;
    position: relative;}